.fa{
    display: flex;
}
.repo4{

    margin-right: 2px;
    width:200px ;
    display: flex;
}
.five{
    margin-right:20px ;
    color: rgb(134, 134, 66);
   
}
 .star1{
    float: right; 
    border-radius:80% ;
    color: rgb(131, 84, 67);
    
} 
.four:hover{
    background-color:rgb(243, 225, 225);
    border-radius:1% ;
    box-shadow:0px 3px 0 rgb(131, 128, 128) ;
}